/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font: 1.1em georgia, "times new roman", serif;
  text-align: left;
  hyphens: auto;
  margin-left: 1em;
  color: #333;
}

blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  padding-left: 1em;
  border-left: 2px solid #ccc;
  color: #555;
}

h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  color: #e4a066;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 0.75em;
}

p {
  margin-top: 1em;
  margin-bottom: 0.25em;
  line-height: 1.6em;
}


a {
  color: #e4a066;
  text-decoration: none;
}

a:hover {
  color: #c2763f;
  text-decoration: underline;
}

a:visited {
  color: #ad8246;
}

table {
  font-size: inherit;
  font: 100%;
  width: 100%;
  border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

hr {
  margin-bottom: 0.75em;
  margin-top: 1.5em;
  color: #3311113b;
}

/*****************************************************************************/
/*
/* Site Layout
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  width: 80em;
  max-width: 95%;
  margin: 3em auto 2em auto;
  line-height: 1.6em;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 5em;
}

.preview-body {
    margin-top: 1em;
    margin-bottom: 2em;
}

.site .title a {
  color: #00c09f;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 1px 1px 2px #BBBBBB;
}

.site .title a:hover {
  color: #008800;
}

.site .about {
  width: 20em;
  float: right;
  color: #555;
  font-size: 0.9em;
  padding-left: 2em;
}

.site .about h1 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  margin-top: 1em;
  color: #333;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.3em;
}

/*****************************************************************************/
/*
/* Post and Page Content
/*
/*****************************************************************************/

#post {
  width: 50em;
  float: left;
}

#post .meta {
  color: #aaa;
  font-style: italic;
  margin-top: -1em;
  font-size: 0.9em;
  margin-bottom: 0.8em;
}

#post img {
  max-width: 100%;
  height: auto;
  padding: 0.2em;
  border: 1px solid #ddd;
  display: block;
  margin: 1em auto;
}

#post pre {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  padding: 0.8em 1em;
  overflow-x: auto;
  font-size: 0.9em;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  font-size: 85%;
  padding: 0.1em 0.3em;
  font-family: "courier new", monospace;
}

#post pre code {
  border: none;
  padding: 0;
}

/*****************************************************************************/
/*
/* Lists (Index Page, Related Posts)
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 2em;
}

ul.posts span {
  color: #888;
  font-family: monospace;
  font-size: 0.9em;
  padding-right: 1em;
}

#related {
  margin-top: 3em;
  clear: both;
  width: 50em;
  float: left;
}

#related h2 {
    font-size: 1.5em;
  margin-bottom: 1em;
  border-top: 4px solid #eee;
  padding-top: 1em;
}


/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/

.site .footer {
  font-size: 80%;
  color: #555;
  border-top: 4px solid #eee;
  margin-top: 3em;
  padding-top: 1.5em;
  overflow: hidden;
  clear: both;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .license {
  margin-top: 1.1em;
  float: right;
  text-align: right;
}

.site .footer .license img {
  border: 0;
}


/*****************************************************************************/
/*
/* Responsive Design
/*
/*****************************************************************************/

@media only screen and (max-width: 900px) {
  body {
    margin-left: 0;
    text-align: left;
  }
  .site {
    display: flex;
    flex-flow: column;
    width: 95%;
    margin: 1em auto;
  }
  .title {
    margin-bottom: 1.5em;
  }
  #post {
    order: 1; /* Content first */
    width: 100%;
    margin-top: 0;
    float: none;
  }
  .site .about {
    order: 2; /* About box after content */
    float: none;
    width: 100%;
    padding-left: 0;
    margin-top: 2em;
  }
  #related {
    order: 3; /* Related posts after about */
    width: 100%;
    float: none;
  }
  .site .footer {
    order: 4; /* Footer last */
    float: none;
  }
  .site .footer .contact, .site .footer .license {
      float: none;
      width: 100%;
      text-align: left;
      margin-bottom: 1em;
  }
}