<!DOCTYPE html>
<html lang="en-us">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5G7758GHBT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5G7758GHBT');
    </script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}Kyle's Blog{% endblock %}</title>
    <meta name="author" content="Kyle Stanfield" />

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" media="screen, projection" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <div class="site clearfix">
        <div class="title">
            <h1><a href="{{ url_for('blog.index') }}">Kyle's Blog</a></h1>
        </div>

        <div class="main-content-area">
            <div id="post">
                {# The main content from view.html, create.html, etc. will go here #}
                {% block content %}{% endblock %}
            </div>

            <div class="about">
                <h1>About</h1>
                <p>Thoughts on networking, tech, and movies.</p>
                <br/>
                <h1>Links</h1>
                <a rel="me" href="https://www.linkedin.com/in/kylejstanfield/">My LinkedIn</a>
                <a rel="me" href="https://github.com/kylestanfield">My Github</a>
            </div>
        </div>
        <div id="related">
              {# The related posts block will go here #}
            {% block related_posts %}{% endblock %}
        </div>

        <div class="footer">
            <div class="contact">
                <p>
                    Kyle Stanfield<br />
                </p>
                <p>
                    {# You can add real RSS links later #}
                    <a href="#"><i class="fas fa-rss"></i> RSS</a>
                </p>
            </div>
            <div class="license">
                This work is licensed under the <a href="https://opensource.org/licenses/MIT">MIT License</a>.             </div>
        </div>
    </div>
</body>
</html>